<div class="copyrights-page">
  <aside class="side-panel">
    <div class="side-panel-container">
      <input class="side-button check-pass" type="image" src="../../assets/checkpass.png" alt="Check pass" (click)="toHomePage()">
      <input class="side-button tables" type="image" src="../../assets/statistic.png" alt="Tables" (click)="toExporterPage()">
      <input class="side-button copyrights" type="image" src="../../assets/power.png" alt="Copyrights">
      <input class="side-button pokemons" type="image" src="../../assets/evee_face.png" alt="Pokemons" (click)="toPokemonsPage()">
    </div>
  </aside>
  <div class="work-place">
  </div>
</div>

