<div class="copyrights-page">
  <aside class="side-panel">
    <div class="side-panel-container">
      <input class="side-button check-pass" type="image" src="../../assets/checkpass.png" alt="Check pass" (click)="toHomePage()">
      <input class="side-button tables" type="image" src="../../assets/statistic.png" alt="Tables" (click)="toExporterPage()">
      <input class="side-button copyrights" type="image" src="../../assets/power.png" alt="Copyrights">
      <input class="side-button pokemons" type="image" src="../../assets/evee_face.png" alt="Pokemons" (click)="toPokemonsPage()">
    </div>
  </aside>
  <div class="work-place">
    <div class="logo">
      <img class="evee-loho" src="../../assets/loho.png">
    </div>

    <div class="sign-in-page-input-fields">
      <div class="sign-in-page-text">WRITE US: support@evee.com All rights reserved copyright © 2021</div>
    </div>
    <div class="sign-in-button">
    </div>
  </div>
</div>

