<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Pokepedia</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light btn-small" href="">Sign In</a></li>
      <li><a class="waves-effect waves-light btn-small" href="">Login</a></li>
    </ul>
  </div>
</nav>



<div class="container">

  <div class="row">
    <div class="input-field col s6">
      <input value="Alvin" id="first_name2" type="text" class="validate">
      <label class="active" for="first_name2"></label>
    </div>
  </div>

  <div class="row">
    <app-pokemon
      *ngFor="let pokemon of pokemons"
      [pokemon]=pokemon
    ></app-pokemon>
  </div>
</div>

