<div class="login-page">
  <div class="login-logo">
    <img class="evee-loho" src="../../assets/loho.png">
  </div>

  <div class="sign-in-page-input-fields">
    <div class="sign-in-page-text">Authorization</div>
    <div class="login">
      <input class="login-field" type="text" appHover>
    </div>
    <div class="password">
      <input class="password-field" type="password" appHover>
    </div>
  </div>


  <div class="sign-in-button">
    <div class="button-login-container">
      <div class="button-login" appHover>
        <button class="login-button">LOG IN</button>
      </div>
    </div>
  </div>


</div>

