<!--<div class="login">-->
<!--  <div class="container-center-horizontal">-->
<!--    <div class="loginscreen">-->
<!--      <div class="overlap-group">-->
<!--        <img-->
<!--          class="image-2"-->
<!--          src="../../assets/airplane.png"-->
<!--        />-->
<!--        <img-->
<!--          class="image-1"-->
<!--          src="../../assets/evee_face.png"-->
<!--        />-->
<!--        <h1 class="title">EveeFly</h1>-->
<!--      </div>-->
<!--      <div class="register">-->
<!--        <div class="placevalign-text-middle">Register</div>-->
<!--      </div>-->
<!--      <div class="componentborder-2px-black">-->
<!--        <div class="login-field">-->
<!--          jane@example.com-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="component-1border-2px-black">-->
<!--        <div class="password-field">-->
<!--          jane@example.com-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="overlap-group1">-->

<!--        <div class="buttonborder-2px-black">-->
<!--&lt;!&ndash;          <div class="log-invalign-text-middle">LOG IN</div>&ndash;&gt;-->
<!--          <button class="login-button">LOG IN</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
