/* You can add global styles to this file, and also import other style files */

/*body {*/
/*  background-color: bisque;*/
/*}*/

/*.card-action {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/


html {
  margin: 0;
  height: 100%;
  background: linear-gradient(white, #D5F4E9, #C1C1D3);
}

body {
  height: 98%;
  margin: 5px;
  display: flex;
  align-items: center;
  border: 2px solid black;
}

.router-outlet {
  width: 100%;
}

.hovered {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: .5s all;
  z-index: 10;
}

.masked {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 4px solid black;
  transition: .5s all;
  cursor: pointer;
}

.toggle {
  font-weight: bold;
  font-family: Roboto, serif;
  background-color: black;
  color: white;
  border: 3px solid gray;
  border-radius: 4px;
  margin: 5px;
}
