/* You can add global styles to this file, and also import other style files */

body {
  background-color: bisque;
}

.card-action {
  display: flex;
  justify-content: center;
  align-items: center;
}


